html {
  font-size: 14px;
}
body {
  margin: 0px;
  background-color: #eae4f4;
}
button {
  color: white;
  background-color: #208eed;
  padding: 0.5rem 2rem;
  border-radius: 3px;
  border: 0px;
  transition: 1s;
}
.background__top {
  height: 200px;
  background-color: #208ded;
  transition: 1s;
}
.background__top p {
  margin: 0;
  padding-top: 35px;
  color: white;
  font-size: 1.5rem;
  text-align: center;
  transition: 1s;
}
.background__bottom {
  background-color: #eae4f4;
  width: 100%;
  height: 100vh;
}
.login {
  margin-top: -80px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  width: 400px;
  height: 350px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px 2px rgba(71, 49, 49, 0.5);
  transition: 1s;
}
.login__picture {
  height: 90px;
  text-align: center;
}
.login__picture--icon {
  margin-top: 15px;
  font-size: 5rem;
  color: #208eed;
  transition: 1s;
}
.login__form {
  height: 150px;
}
.input__container {
  text-align: center;
}
.input__container.user {
  padding-top: 2rem;
}
.input {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  width: 75%;
  margin-top: 30px;
}
.checkbox__container {
  margin-top: 30px;
  padding-left: 45px;
}
.login__footer {
  height: 60px;
  margin-top: 15px;
  text-align: center;
  transition: 1s;
}

@media (min-width: 576px) {
  html {
    font-size: 16px;
  }
  .login {
    width: 500px;
    transition: 1s;
  }
  .checkbox__container {
    padding-left: 55px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 18px;
  }
  button {
    background-color: purple;
  }
  .background__top {
    background-color: purple;
  }
  .login__picture--icon {
    color: purple;
  }
  .login {
    width: 600px;
    transition: 1s;
  }
  .checkbox__container {
    padding-left: 65px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 21px;
  }
  .login {
    height: 400px;
    transition: 1s;
  }
  .login__footer {
    margin-top: 35px;
    transition: 1s;
  }
}
